@model DisplayViewModel
@{
    ViewData["Title"] = "Find Recipe";
}

<head>

</head>

<body class="background">
    <div class="text-center">
        @if (Model != null)
        {
            if (Model.search.ShowTitles == true)
            {
                <h1 class="display-4">Find a Recipe</h1>

                @* Type in Ingredient to Add *@
                <h3>Type in an ingredient</h3>
                <br />
                <form asp-controller="Home" asp-action="SearchRecipes" method="post">
                    <input class="input" name="IngredientName" />
                    <button class="btn btn-outline-dark" type="submit" asp-controller="Home" asp-action="SearchRecipes">
                        Find Recipe
                    </button>
                </form>
                <br />

                for (int i = 0; i < Model.search.Recipes.Count && i < 20; i++)
                {
                    <h5 type="submit" onclick="location.href='@Url.Action("DisplayRecipe", "Home", new { Id = Model.search.Recipes[i].Id })'">
                        @Html.DisplayFor(model => Model.search.Recipes[i].Title)
                    </h5>
                }
            }

            else
            {
                @* Display Recipe Title *@
                <h1 class="display-4">@Model.search.RecipeChoice.Title</h1>
                <br />

                <button class="btn btn-dark" type="submit" onclick="location.href='@Url.Action("SeeTitles", "Home")'">
                    Back
                </button>
                <br />
                <br />

                @foreach (IngredientModel Ingredient in Model.search.RecipeChoice.Ingredients)
                {
                    <button class="btn btn-ingr" type="submit" onclick="location.href='@Url.Action("AddIngredient", "Home", new { IngredientName = Ingredient.Name })'">
                        @Ingredient.Name
                    </button>
                }
            }
        }
    </div>
</body>