@model DisplayViewModel
@{
    ViewData["Title"] = "Home Page";
    int maxDisplay = 20;
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
    </style>
</head>

<body class="background">
    <div class="text-center">
        <h3 class="display-4">Ingredient Recommender</h3>
        <p>Get recommendations for which ingredients to add to or remove from your recipe.</p>

        @* Type in Ingredient to Add *@
        <h5>Add Ingredients to My Recipe</h5>
        <br />
        <form asp-controller="Home" asp-action="AddIngredient" method="post">
            <input class="input" name="IngredientName" />
            <button class="btn btn-outline-dark" type="submit" asp-controller="Home" asp-action="AddIngredient">Add Ingredient</button>
        </form>
        <br />
        <br />

        @* Display My Ingredients *@
        @if (Model != null)
        {
            <h5 class="ingr-justify">
                My Recipe
                <button type="submit" class="btn btn-outline-dark" style="margin-left: 30px;" onclick="location.href='@Url.Action("ResetMine", "Home")'">
                    Clear
                </button>
            </h5>

            <div class="ingr-justify">
                @if (Model != null)
                {
                    @foreach (IngredientModel Ingredient in Model.mine.MyRecipe.Ingredients)
                    {
                        <button name="IngredientName" type="submit" class="btn btn-light btn-ingr" onclick="location.href='@Url.Action("RemoveIngredient", "Home", new { IngredientName = Ingredient.Name })'">
                            @Html.DisplayFor(model => Ingredient.Name)
                        </button>
                    }
                }
            </div>
            <br />
        }

        @* Display My Recipe and My Recommendations *@
    <div class="row">
        <div class="col">
            @* Display Recommendations *@
            <h5 class="ingr-justify">Recommendations</h5>
            <div class="ingr-justify">
                @if (Model != null)
                {
                    @for (int i = 0; i < maxDisplay; i++)
                    {
                        <button name="IngredientName" type="submit" class="btn btn-light btn-ingr" onclick="location.href='@Url.Action("AddIngredient", "Home", new { IngredientName = Model.mine.Recommendations[i].Ingredient.Name })'">
                            @Html.DisplayFor(model => Model.mine.Recommendations[i].Ingredient.Name)
                        </button>
                    }
                }
            </div>
        </div>
        @if (Model.mine.MyRecipe.Ingredients.Count > 0 || Model.search.RecipeChoice.Ingredients.Count > 0)
        {
                @* Display Search Recipe Ingredients *@
                @if (Model != null)
                {
                    @if (Model.mine.MyRecipe.Ingredients.Count > 0)
                    {
                        <div class="col">
                            <h5 class="ingr-justify">
                                Similar Recipe: @Model.mine.SimilarRecipe.Title
                                <br />
                            </h5>
                            <div class="ingr-justify">
                                @if (Model != null)
                                {
                                    @foreach (IngredientModel Ingredient in Model.mine.SimilarRecipe.Ingredients)
                                    {
                                        <button name="IngredientName" type="submit" class="btn btn-light btn-ingr" onclick="location.href='@Url.Action("AddIngredient", "Home", new { IngredientName = Ingredient.Name })'">
                                            @Html.DisplayFor(model => Ingredient.Name)
                                        </button>
                                    }
                                }
                            </div>
                            <br />
                        </div>
                    }
                    @if (Model.search.RecipeChoice.Ingredients.Count > 0)
                    {
                        <div class="col">
                            <h5 class="ingr-justify">
                                Search Recipe
                                <button type="submit" class="btn btn-outline-dark" style="margin-left: 30px;" onclick="location.href='@Url.Action("ResetSearch", "Home")'">
                                    Clear
                                </button>
                                <br />
                            </h5>
                            <div class="ingr-justify">
                                @if (Model != null)
                                {
                                    @foreach (IngredientModel Ingredient in Model.search.RecipeChoice.Ingredients)
                                    {
                                        <button name="IngredientName" type="submit" class="btn btn-light btn-ingr" onclick="location.href='@Url.Action("AddIngredient", "Home", new { IngredientName = Ingredient.Name })'">
                                            @Html.DisplayFor(model => Ingredient.Name)
                                        </button>
                                    }
                                }
                            </div>
                        </div>
                    }
                }
        }
    </div>

    </div>
</body>
