@model DisplayViewModel
@{
    ViewData["Title"] = "Home Page";
    int maxDisplay = 20;
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
    </style>
</head>

<body class="background">
    <div class="text-center">
        <h3 class="display-4">Build Your Recipe</h3>
        <p>Get recommendations for which ingredients to add to or remove from your recipe.</p>

        @* Type in Ingredient to Add *@
        <br />
        <form asp-controller="Home" asp-action="AddIngredient" method="post">
            <input class="input" name="IngredientName" />
            <button class="btn btn-outline-dark" type="submit" asp-controller="Home" asp-action="AddIngredient">Add Ingredient to Your Recipe</button>
        </form>
        <br />
        <br />

        @* Display My Ingredients *@
        @if (Model.mine.MyRecipe.Ingredients.Count > 0)
        {
            <h5 class="ingr-justify">
                My Recipe
                <br />
            </h5>

            <div class="ingr-justify">
                    @foreach (IngredientModel Ingredient in Model.mine.MyRecipe.Ingredients)
                    {
                        <button name="IngredientName" type="submit" class="btn btn-ingr" onclick="location.href='@Url.Action("RemoveIngredient", "Home", new { IngredientName = Ingredient.Name })'">
                            @Html.DisplayFor(model => Ingredient.Name)
                        </button>
                    }
            </div>
            <button type="submit" class="btn btn-outline-dark" style="margin-top: 10px; margin-bottom: 20px;" onclick="location.href='@Url.Action("ResetMine", "Home")'">
                Clear
            </button>
            <br />
        }

        @* Display My Recipe and My Recommendations *@
        <div class="row">
            <div class="col">
                @* Display Recommendations *@
                <h5 class="ingr-justify">Recommendations</h5>
                <div class="ingr-justify">
                    @if (Model != null)
                    {
                        @for (int i = 0; i < maxDisplay; i++)
                        {
                            <button name="IngredientName" type="submit" class="btn btn-ingr" onclick="location.href='@Url.Action("AddIngredient", "Home", new { IngredientName = Model.mine.Recommendations[i].Ingredient.Name })'">
                                @Html.DisplayFor(model => Model.mine.Recommendations[i].Ingredient.Name)
                            </button>
                        }
                    }
                </div>
            </div>
            @if (Model.mine.MyRecipe.Ingredients.Count > 0 || Model.search.RecipeChoice.Ingredients.Count > 0)
            {
                @* Display Search Recipe Ingredients *@
                @if (Model != null)
                {
                    @if (Model.mine.MyRecipe.Ingredients.Count > 0)
                    {
                        <div class="col">
                            <h5 class="ingr-justify">
                                Similar Recipe: @Model.mine.SimilarRecipe.Title
                                <br />
                            </h5>
                            <div class="ingr-justify">
                                @if (Model != null)
                                {
                                    @foreach (IngredientModel Ingredient in Model.mine.SimilarRecipe.Ingredients)
                                    {
                                        <button name="IngredientName" type="submit" class="btn btn-ingr" onclick="location.href='@Url.Action("AddIngredient", "Home", new { IngredientName = Ingredient.Name })'">
                                            @Html.DisplayFor(model => Ingredient.Name)
                                        </button>
                                    }
                                }
                            </div>
                            <br />
                        </div>
                    }
                    @if (Model.search.RecipeChoice.Ingredients.Count > 0)
                    {
        <div class="col">
            <h5 class="ingr-justify">
                Search Recipe
                <br />
            </h5>
            <div class="ingr-justify">
                @if (Model != null)
                {
                    @foreach (IngredientModel Ingredient in Model.search.RecipeChoice.Ingredients)
                    {
                        <button name="IngredientName" type="submit" class="btn btn-ingr" onclick="location.href='@Url.Action("AddIngredient", "Home", new { IngredientName = Ingredient.Name })'">
                            @Html.DisplayFor(model => Ingredient.Name)
                        </button>
                    }
                }
            </div>
            <button type="submit" class="btn btn-outline-dark" style="margin-top: 10px;" onclick="location.href='@Url.Action("ResetSearch", "Home")'">
                Clear
            </button>
        </div>
                    }
                }
            }
        </div>

    </div>
</body>
